header{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profilepic{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.socialtag{
  font-size: 2rem;
}